@model IEnumerable<ClinicaPacientes.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Registros de Pacientes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre Paciente
            </th>
            <th>
                Rut
            </th>
            <th>
                Fecha de ingreso
            </th>
            <th>
                Edad
            </th>
            <th>
               Telefono
            </th>
            <th>
                Correo electronico
            </th>
            <th>
                Direccion
            </th>
            <th>
                Motivo de consulta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombrePaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rutPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edadPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefonoPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccionPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.motivoConsulta)
            </td>
            
        </tr>
}
    </tbody>
</table>
