@model IEnumerable<ClinicaPacientes.Models.Paciente>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombrePaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.edadPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tienePrevision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefonoPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccionPaciente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombrePaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edadPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tienePrevision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefonoPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccionPaciente)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
